@import 'base.css';

#app {
  width: 100%; /* Occupe toute la largeur de la page */
  height: 100vh; /* Occupe toute la hauteur de la page */
  margin: 0 auto; /* Annule les marges latérales */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  margin: 0; /* Enlever les marges par défaut */
  padding: 0; /* Enlever les espacements par défaut */
  height: 100%; /* Assurer que le body occupe toute la hauteur de la page */
}
